# Postgres
POSTGRES_HOSTNAME=...
POSTGRES_PORT=...
POSTGRES_USER=...
POSTGRES_PASSWORD=...
POSTGRES_DATABASE=...

# Static_info: path for download and save img link
STATIC_PATH="./static"
DOWNLOAD_PATH="static/"

# Host info
HOST_URL=...
HOST_PORT=...

#: SecretStr: secret x-token for authority.
X_API_TOKEN_STATIC=...

# Browser info=...
HEADERS=...

# Img source url
URL=...

API_SERVER_PORT=..